*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(26, 26, 26);
    color: ghostwhite;
}

.container{
    min-height: 30vh;
    max-width: 50vh;
    margin: 0 auto;
}

.main-header{
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.1em;
    font-weight: lighter;
}

.text-input{
    display: inline-block;
    padding: 0.7em;
    width: 100%;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 1em;
}

.state-display{
    background: rgb(48, 48, 48);
    color: rgb(155, 155, 155);
    padding: 1em;
    border-radius: 0.3rem;
    line-height: 1.5;
    margin-bottom: 0.3em;
}

.state-display h1{
    font-weight: lighter;
}

.state-capital{
    color: rgb(18, 133, 179);
}

.state-display p{
    font-size: 0.8rem;
}